@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: "NEXON Lv2 Gothic";
}

header {
    /* position: relative; */
	height: 45px;
	padding-top: 10px;
	/* position: fixed; */
	top: 0px;
	left: 0;
	width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}

main {
    max-width: 1024px;
    /* min-width: 500px; */
    position: relative;
    color: black;
    margin: auto;
    padding-top: 10px;
}

.notice {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 76, 52);
    border-radius: 5px;
    margin-bottom: 10px;
}

.notice__p {
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 23px;
}

.description {
    font-size: 14px;
    margin: 10px 10px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.09em;
}

.test {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(102, 102, 102);
    float: left;
    color: white;
    line-height: 20px;
}

.today-weather {
    background-color: rgb(172, 238, 129);
    width: 270px;
    /* height: 366.8px; */ /* 이상기후 배너 떠있을 경우 */
    height: 410.8px;
    border-radius: 5px;
    float: left;
}

.rank-container {
    float: left;
    margin-left: 10px;
    background-color: rgb(127, 214, 255);
    width: calc(100% - 280px);
    border-radius: 5px;
}

.rank-title_h1 {
    font-size: 23px;
    text-align: center;
    margin: 15px 0;
}

.rank-title_h2 {
    font-size: 19px;
    text-align: center;
    margin: 13px 0;
}

.rank {
    width: 48%;
    float: left;
    margin: 0 0 10px 10px;
    background-color: rgb(205, 255, 253);
    border-radius: 5px;
}

.rank li {
    margin: 0 0 10px 10px;
}

.weather-container {
    margin: 0 0 10px 10px;
    text-align: center;
    float: left;
}

.weather-container button {
    font-size: 16px;
    /* width: 130px; */
    /* background-color: red; */
    border: 1px solid rgb(68, 68, 68);
    padding: 7px 19.3px;
    border-radius: 5px;
}

.weather-container button:hover {
    background-color: rgb(219, 219, 219);
    
}

.weather-container img {
    width: 15px;
    top: 2px;
    position: relative;
}

.hidden {
    visibility: hidden;
}